<%= render 'layouts/navbar'%>

<div class="page">
  <%= image_tag("photos/purple(2).jpg") %>
  <div class="form_connection">
    <br>
    <h2>BIENVENUE SUR PINTIQ</h2>
    <br>
    <h4><i>Inscrivez-vous pour commencer.</i></h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <!--
        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div> 
      -->
    <div class="field">
       <%= f.label :username, "Nom d'utilisateur" %><br />
       <%= f.text_field :username, autofocus: true, autocomplete: "Nom", placeholder: "Votre nom", id: "text-field" %>    
     </div>
     <br>

      <div class="field">
        <%= f.label :EMAIL.capitalize %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "Votre e-mail", id: "text-field"%>
      </div>
      <br>  

      <div class="field">
        <%= f.label :MOT_DE_PASSE %>
        <% if @minimum_password_length %>
        <i><em>(<%= @minimum_password_length %> caractères minimum)</em></i>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Votre mot de passe", id: "text-field" %>
      </div>
      <br>      
      <div class="field">
        <%= f.label :CONFIRMATION_DU_MOT_DE_PASSE %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmez votre mot de passe", id: "text-field" %>
      </div>
      <br>      
      <div class="actions">
        <%= f.submit "S'inscrire" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
