<%= render 'layouts/navbar'%>
<div class="page">
  <%= image_tag("photos/purple(2).jpg") %>
  <div class="form_connection">
  <h2>Mot de passe oublié ?</h2>
<h4><i>Réinitialiser mon mot de passe par mail :</i></h4>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Nouveau mot de passe" %>
  </div>
<% end %>


</div>
</div>