<%= render 'layouts/navbar'%>
<div class="page">
  <%= image_tag("photos/purple(2).jpg") %>
  <div class="form_connection">
  <h2>Mot de passe oublié ?</h2>
<h4><i>Réinitialiser mon mot de passe par email :</i></h4>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Votre e-mail" %>
  </div>

  <div class="actions">
    <%= f.submit "Nouveau mot de passe" %>
  </div>
<% end %>
<%= link_to('Connexion', new_user_session_path)  %> <br> <br>
Pas encore inscrit ?<%= link_to new_user_session_path do%> S'inscrire <%end%> 

</div>
</div>