<%= render 'layouts/navbar'%>

<div class="wrap-admin">
<!-- Bouton haut du panel admin -->
    <button class="tablink" onclick="openPage('Datas', this, '#273c75','white','3px solid #192a56','rgba(25, 42, 86, 0.9)')" id="defaultOpen">Datas <br><i class="fa fa-database"></i></button>
    <button class="tablink" onclick="openPage('Users', this, '#686de0','white','3px solid #474787','rgba(104, 109, 224, 0.9)')" >Users<br><i class="fa fa-user"></i></button>
    <button class="tablink" onclick="openPage('Shops', this, '#16a085','white','3px solid #218c74','rgba(22, 160, 133,0.9)')" >Shops <br><i class="fa fa-flag"></i></i></button>
    <button class="tablink" onclick="openPage('Category', this, '#B53471','white','3px solid #833471','rgba(181, 52, 113, 0.91)')">Tags<br> <i class="fa fa-tags"></i></button>
    <button class="tablink" onclick="openPage('Admins', this, '#f0932b','white','3px solid #cd6133','rgba(240, 147, 43, 0.9)')">Admins<br> <i class="fa fa-bug"></i></button>

 <!-- Division d'affichage de tous les users avec possibilité de modifier le user vers admin-->   
    <div id="Datas" class="tabcontent">
      <div class="data-wrap">
        <p>Total Users <i class="fa fa-user"></i> </p><br>
        <p><%=@users.size%></p>
      </div>
      <div class="data-wrap">
        <p>Total Users <i class="fa fa-user"></i> </p><br>
        <p><%=@users.size%></p>
      </div>
      <div class="data-wrap">
        <p>Total Users <i class="fa fa-user"></i> </p><br>
        <p><%=@users.size%></p>
      </div>
      <div class="data-wrap">
        <p>Total Users <i class="fa fa-user"></i> </p><br>
        <p><%=@users.size%></p>
      </div>
    </div>
 <!-- Division d'affichage de tous les users avec possibilité de modifier le user vers admin-->   
    <div id="Users" class="tabcontent">
    
    <span>Dernier utilisateur créé le <%=@places.last.created_at%></span>
        <%@users.reverse.each do |user|%>
            <div class="wrap-shop-admin">
                <h3 class="accordion"> <%=user.username.capitalize%> 
                    <% if user.try(:admin?) %>
                     <%= button_tag 'Admin', class:"isadmin", onclick: "admin(#{user.id})", data: { confirm: "Retirer à #{user.username} le rôle d'administrateur ?" }%>
                    <%else%>
                     <%= button_tag 'Non Admin', class:"isntadmin", onclick: "admin(#{user.id})", data: { confirm: "Accorder à #{user.username} le rôle d'administrateur ?" }%>
                     <%end%>

                </h3>
                <div class="panel" >
                    <p><u>E-mail : </u><%=user.email%></p>
                    <p><u>Création :</u> <%=user.created_at%></p>
                    <p><u>Dernière connexion :</u> <%=user.last_sign_in_at%></p>
                    <br>
                    <br>
                    <% if user.try(:admin?) %>
                        <a>Admin <i class="fa fa-minus-circle"></i></a>
                    <%else%>
                        <%= link_to "/admin/" + user.id.to_s , method: :delete, data: { confirm: "Supprimer le profil ? Action irréversible !" } do%><i class="fa fa-trash"></i> <%end%>
                     
                     <%end%>
                </div>
                
            </div>
            <hr>
        <% end %>
    </div>
<!-- Division affichage des boutiques, avec CRUD -->
  <div id="Shops" class="tabcontent">
      <h1>Nombre de magasins : <%=@places.size%></h1>
      <span>Dernier ajout le <%=@places.last.created_at%></span>

    <%@places.reverse.each do |shop|%>
      <div class="wrap-shop-admin">

        <h3 class="accordion"> <%=shop.name%></h3>
        <div class="panel" >
          <p><%=shop.address%></p>

          <%= link_to '/place/' + shop.id.to_s,  method: :delete, data: {confirm: 'Tu es sûr.e ?'} do %> <i class="fa fa-trash"></i><%end%></p>

        </div>

      </div>
      <hr>
    <% end %>
  </div>

  <div id="Admins" class="tabcontent">

    <%@users.each do |user|%>
      <% if user.try(:admin?) %>

        <div class="wrap-shop-admin">
          <h3 class="accordion"> <%=user.username.capitalize%></h3>
          <div class="panel" >
            <p><%=user.email%></p>
          </div>

        </div>
        <hr>
      <%end%>
    <% end %>
  </div>

  <div id="Category" class="tabcontent">
      <h1><%=@tags.size%></h1>
    <%@tags.each do |tag|%>
         <div class="wrap-shop-admin">
          <h3 class="accordion"> <%=tag.name%></h3>
        </div>
        <hr>
    <% end %>
  </div>
</div>

<script>
//Définit le premier onglet ouvert
document.getElementById("defaultOpen").click();

// Affichage de l'accordeon
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
};;
</script>
