<%= render 'layouts/navbar'%>


<div class="wrap-list">
  <div id='liste'>
    <%= image_tag("photos/purple(2).jpg", class: "img-bg") %>
    <div id="list_show">
      <h1 align="center">Rechercher par catégories</h1>
      <div >
        <div class="control-group">
          <%  @tagz.each do |cat| %>
          <label class="control control-checkbox">
            <%=  cat.name %>
            <input type="checkbox" id="<%= cat.id  %>"/><div class="control_indicator"></div>
          </label>
        <% end %>
        </div>
        <br>
        <%= submit_tag "Rechercher", :id => "add" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'category' %> 
