<!-- Page qui regroupe tous les shops créés -->


<%= render 'layouts/navbar'%>

<%= render 'layouts/modale'%>

<% if Place.count == 0 %>
<div class="wrap-list">
  <div id='liste'>
    <%= image_tag("photos/purple(2).jpg", class: "img-bg") %>
    
  
        <div id="list_show">
          <i class="fa fa-location-arrow"></i>
            <h3>Vous avez 0 boutique enregistrée :( <br><br>
            <%= link_to 'Ajouter une boutique',  '/' %> </h3>
            <br>

        </div>
  </div>
</div>

</div>

<% else %>
<div class="wrap-list">
  <div id='liste'>
    <%= image_tag("photos/purple(2).jpg", class: "img-bg") %>
    
    <% current_user.places.reverse_each do |fiche| %>
        <div id="list_show">
          <i class="fa fa-bookmark"></i>
            <h3><%= fiche.name %> </h3>
            <hr>
            <p>Adresse : <%= fiche.address %> </p>

            <p>Description : <%= fiche.description %> </p> 
            <p>Supprimer cette boutique:  <%= link_to 'supprimer', '/place/' + fiche.id.to_s , method: :delete, data: {confirm: 'Tu es sûr.e ?'} %> </p>
            <p>Modifier cette boutique: <%= link_to 'modifier', '/edit' %> </p>

        </div>
      <%end%>
   <%end%>

    </div>
  </div>
    
</div>
