
<h1 style="text-align:center; padding-top:100px">Modifier la boutique </h1>



 <%=form_tag :method => :PUT do %>


      <%= label_tag :nom, 'Nom de la boutique' %>
      <%= text_field_tag :nom %><br>
 
      <%= label_tag :Adresse, "Saisir l\'adresse" %>
      <%= text_field_tag :Adresse %>
	
	<%= submit_tag"Mettre à jour", :class => "add_places", :id => "add", :style => "width:30%;" %>
    <%= link_to "Retour", created_path, class: "button-back" %>

   

     <% end %>

