<%= render 'layouts/navbar'%>





<div class="wrap-list">
  <div id='liste'>
  <%= image_tag("photos/purple(2).jpg", class: "img-bg") %>

    <%current_user.liked_places.each do |shop|%>
      <div id="list_show">
      <i class="fa fa-heart" id="fav" onclick="tamer(<%=shop.id%>,<%= current_user.id %>)" style="color: rgb(255,0,0);" ></i>
        <h3><%=shop.name%></h3>
        <hr>
        <p class="shop_body"><%= shop.description %></p>
        <p><%=shop.address%></p>
      </div>
    <% end %>
    
  </div>
</div>

<%= javascript_include_tag 'list' %> 

