<%= render 'layouts/navbar'%>

<%= render 'layouts/modale'%>

<div class="wrap-list">
  <div id='liste'>
    <%= image_tag("photos/purple(2).jpg", class: "img-bg") %>
    
    <% current_user.places.reverse_each do |fiche| %>
        <div id="list_show">
          <i class="fa fa-location-arrow"></i>
            <h3><%= fiche.name %> </h3>
            <hr>
            <p>Adresse : <%= fiche.address %> </p>
            <p>Description : <%= fiche.description %> </p>
            <p>Supprimer cette boutique:  <%= link_to 'ici', '/place/' + fiche.id.to_s , method: :delete, data: {confirm: 'Tu es sûr.e ?'} %> </p>

        </div>
      <%end%>

    </div>
  </div>
    
</div>
'/created',
