<%= render 'layouts/navbar'%>

<%= render 'layouts/modale'%>

<div class="wrap-list">
  <div id='liste'>
    <%= image_tag("photos/purple(2).jpg", class: "img-bg") %>
    
    <% current_user.places.each.reverse do |fiche| %>
        <div id="list_show">
          <i class="fa fa-location-arrow"></i>
            <h3><%= fiche.name %> </h3>
            <hr>
            <p>Adresse : <%= fiche.address %> </p>
            <p>Description : <%= fiche.description %> <p><%= link_to "Delete", place_path(@places),:data => {:confirm => "You sure?",:method => "delete"} %></p></p>

        </div>
      <%end%>

    </div>
  </div>
    
</div>
