
<%= render 'layouts/navbar'%>
<!-- bouton add -->
<button class="add" onclick="toggleModal()"><i class="fa fa-plus"></i></button>

<!-- Fenêtre modale -->
<div id="modal-add-shop" style="display:none;">
  <div class="form-modale">
    Nom de la boutique :<%= text_field :name, placeholder: "placeholder text" %><br>
    Description de la boutique : <%= text_field :description, placeholder: "placeholder text" %><br>
    Adresse de la boutique : <%= text_field :adress, placeholder: "placeholder text" %><br>
    <%= submit_tag("Search") %>
    <button class="add_places">J'y suis</button>

  </div>
</div>

<div id='mapid'></div>


<%= javascript_include_tag "map" %>
<%= javascript_include_tag "place" %>



