
<%= render 'layouts/navbar'%>

<% if user_signed_in? %>
<button class="add" onclick="toggleModal()"><i class="fa fa-plus"></i></button>
<%else%>
<%end%>

<!-- DEBUT FENETRE MODALE -->
<div id="modal-add-shop" style="display:none;">
  <div class="form-modale">
    <h2>Ajouter une boutique</h2>
    
    <hr class="style13">
    Nom de la boutique : <br><%= text_field :name, placeholder: "Nom de la boutique" %><br>

    Description de la boutique  <%= text_area :description, placeholder: "Description" %><br>

    Adresse de la boutique : <%= text_field :adress, placeholder: "Adresse" %><br>
    
    <hr class="style13">

   <%= submit_tag"Ajouter", :class => "add_places", :id => "add" %>
   <button class="add_places" id="add">J'y suis</button>

  </div>
</div>
<!-- FIN DE LA FENETRE MODALE -->


<div id='mapid'></div>


<%= javascript_include_tag "map" %>
<%= javascript_include_tag "place" %>



