<%= render 'layouts/navbar'%>
<!-- bouton add -->
<button class="add" onclick="toggleModal()"><i class="fa fa-plus"></i></button>
<!-- DEBUT FENETRE MODALE -->
<div id="modal-add-shop" style="display:none;">
  <div class="form-modale">
    Nom de la boutique :<%= text_field :name, placeholder: "Nom de la boutique" %><br>
    Description de la boutique : <%= text_area :description, placeholder: "Description" %><br>
    Adresse de la boutique : <%= text_field :adress, placeholder: "Adresse" %><br>
    <%= submit_tag("Search") %>
    <button class="add_places">J'y suis</button>

  </div>
</div>
<!-- FIN DE LA FENETRE MODALE -->
<div class="wrap-list">
  <div id='liste'>
    <%= image_tag("photos/purple(2).jpg", class: "img-bg") %>

    <div id="list_show">
      <i class="fa fa-location-arrow"></i>
        <h3>Nom de la boutique</h3>
        <hr>
        <p class="shop_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum libero non lacus laoreet ultrices in viverra nibh. Phasellus eu lectus ipsum. Proin eget leo porta, porttitor felis ut, commodo nisl. Pellentesque vitae convallis erat. Integer sit amet porttitor dolor. Mauris mollis bibendum tortor, sit amet vulputate dui.</p>

    </div>
    <div id="list_show">
      <i class="fa fa-location-arrow"></i>
        <h3>Nom de la boutique</h3>
        <hr>
        <p class="shop_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum libero non lacus laoreet ultrices in viverra nibh. Phasellus eu lectus ipsum. Proin eget leo porta, porttitor felis ut, commodo nisl. Pellentesque vitae convallis erat. Integer sit amet porttitor dolor. Mauris mollis bibendum tortor, sit amet vulputate dui.</p>

    </div>
    <div id="list_show">
      <i class="fa fa-location-arrow"></i>
        <h3>Nom de la boutique</h3>
        <hr>
        <p class="shop_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum libero non lacus laoreet ultrices in viverra nibh. Phasellus eu lectus ipsum. Proin eget leo porta, porttitor felis ut, commodo nisl. Pellentesque vitae convallis erat. Integer sit amet porttitor dolor. Mauris mollis bibendum tortor, sit amet vulputate dui.</p>

    </div>
     <div id="list_show">
      <i class="fa fa-location-arrow"></i>
        <h3>Nom de la boutique</h3>
        <hr>
        <p class="shop_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum libero non lacus laoreet ultrices in viverra nibh. Phasellus eu lectus ipsum. Proin eget leo porta, porttitor felis ut, commodo nisl. Pellentesque vitae convallis erat. Integer sit amet porttitor dolor. Mauris mollis bibendum tortor, sit amet vulputate dui.</p>

    </div>
  </div>
    
</div>