<!-- bouton add -->
<!-- DEBUT FENETRE MODALE -->
<div id="modal-add-shop" style="display:none;">
<%= render 'layouts/closecross'%>    
  <div class="form-modale">
    <h2>Ajouter une boutique</h2>
    <hr class="style13">
      Nom de la boutique: </br> <%= text_field_tag(:name, '', placeholder: 'Nom de la boutique') %> <br>
      <!-- Description de la boutique: <br> <%= text_area_tag(:description, nil, placeholder: 'Description')%> <br> 
      MISE DE COTE AU CAS OU DE BESOIN D'AJOUT DESCRIPTION
      -->
      Adresse de la boutique: </br> <%= text_field_tag(:address, nil, placeholder: "Saisir l\'adresse") %> <br>
      <%= submit_tag"Ajouter", :class => "add_places", :id => "add", :style => "width:30%;" %>
  </div>
</div>

<!-- FIN DE LA FENETRE MODALE -->