<div class="navbar" id="navbar">
 
  <li><a href="<%=root_path%>">CARTE <i class="fa fa-map"></i></a>
  <% if user_signed_in? %>
    <li><a href="<%=favoris_path%>">FAVORIS <i class="fa fa-heart"></i></a> 
    <li><a onclick="toggleSettingsMenu()">COMMUNAUTÉ <i class="fa fa-users"></i></a>
    <li><a onclick="toggleUserMenu()">PARAMÈTRES <i class="fa fa-cog"></i></a>
    <%else%>
    <li><a onclick="toggleUserMenu()">CONNEXION <i class="fa fa-sign-in"></i></a>
  <%end%>
  <% if current_user.try(:admin?) %>
    <li><a href="<%= admin_path%>">DASHBOARD ADMIN <i class="fa fa-bug"></i></a>
  <%end%>
</div>

<div class="navbar-mobile" id="navbar">
  <li><a href="/"><i class="fa fa-map"></i></a>
  <li><a href="<%=favoris_path%>"><i class="fa fa-heart"></i></a>
  <% if user_signed_in? %>
    <li><a onclick="toggleSettingsMenu()"><i class="fa fa-users"></i></a>
  <%end%>
  <% if user_signed_in? %>
    <li><a onclick="toggleUserMenu()"><i class="fa fa-cog"></i></a>
    <%else%>
    <li><a onclick="toggleUserMenu()"><i class="fa fa-sign-in"></i></a>
  <%end%>
  <% if current_user.try(:admin?) %>
    <li><a href="<%= admin_path%>"><i class="fa fa-bug"></i></a>
  <%end%>
</div>
<style>

</style>
