<!-- COMMUNAUTE -->
<div class="user-menu" id="settings-user" style="display:none" >
<%= render 'layouts/closecross'%>

     <h2 style="text-align:center;font-size:60px; float: none;margin-right:0%;margin-bottom:-10px;">
        <i class="fa fa-user-circle"></i>
      </h2>


      <% if user_signed_in? %>
      <p style = "text-align:center;font-size: 14px;font-style: oblique;">Salut <%= current_user.username.capitalize%> !</p>
      
      <%end%>
    <br><br> <br>
    

      <%= link_to list_path do%> Toutes les boutiques <i class="fa fa-angle-right"></i><%end%> 
      <hr class="style13">
      <%= link_to "" , class: "disabled" do%> <i class="fa fa-ban"></i> Mes amis  <i class="fa fa-angle-right"></i><%end%> 
      <hr class="style13">
      <%= link_to "" , class: "disabled" do%><i class="fa fa-ban"></i> Commentaires  <i class="fa fa-angle-right"></i><%end%> 
      <hr class="style13">


    
      
      
  </div>
