<!-- PARAMETRES-->
<div class="user-menu" id="menu-user" style="display:none" >
<%= render 'layouts/closecross'%> 

 <% if user_signed_in? %>
        <h2 style="text-align:center;font-size:60px; float: none;margin-right:0%;margin-bottom:-10px;"><i class="fa fa-cog"></i></h2>
    <%else%>
        <h2 style="text-align:center;font-size:60px; float: none;margin-right:0%;margin-bottom:-10px;"><i class="fa fa-sign-in"></i></h2>
  <%end%>

    <br><br> <br>
    <% if user_signed_in? %>
    <%= link_to created_path do%> MODIFIER MES BOUTIQUES <%end%> 
      <hr class="style13">
    <%= link_to edit_user_registration_path do%> ÉDITER MON PROFIL <%end%> 
      <hr class="style13">
      
      <br><br> <br><br><br><br> <br><br>
      <%= link_to('ME DECONNECTER', destroy_user_session_path, method: :delete) %> 
    <% else %>
      <%= link_to('ME CONNECTER', new_user_session_path)  %>  
        <hr class="style13">
      <%= link_to new_user_registration_path do%> M'INSCRIRE <%end%> 
        <hr class="style13">
    <% end %>

    </ul>
  </div>