<!-- PARAMETRES-->
<div class="user-menu" id="menu-user" style="display:none" >
<%= render 'layouts/closecross'%>    
        <h2 style="text-align:center;font-size:60px; float: none;margin-right:0%;margin-bottom:-10px;">
        <% if user_signed_in? %>
        <i class="fa fa-cog"></i>
        <%else%>
        <i class="fa fa-sign-in"></i>
      <p style = "text-align:center;font-size: 14px;font-style: oblique;">Bienvenue, connecte toi pour commencer !</p>
        <%end%>

        </h2>

    <br><br> <br>
    <% if user_signed_in? %>
    <%= link_to created_path do%> Modifier mes boutiques <i class="fa fa-angle-right"></i><%end%> 
      <hr class="style13">
    <%= link_to edit_user_registration_path do%> Éditer mon profil <i class="fa fa-angle-right"></i><%end%> 
      <hr class="style13">
    <%= link_to "" , class: "disabled" do%><i class="fa fa-ban"></i> Changer ma ville  <i class="fa fa-angle-right"></i><%end%> 

      
      <br><br> <br><br><br><br> <br><br>
      <%= link_to('Déconnexion', destroy_user_session_path, method: :delete) %> <i class="fa fa-angle-right"></i>
    <% else %>
      <%= link_to('Connexion', new_user_session_path)  %>  <i class="fa fa-angle-right"></i>
        <hr class="style13">
      <%= link_to new_user_registration_path do%> Inscription <i class="fa fa-angle-right"></i> <%end%> 
         <hr class="style13">
    <% end %>

    </ul>
  </div>