<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <%= yield %>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAvg-9Ne_jyWCk9Q7_lxLSR6uz6maObk4&callback=myMap"></script> -->
</html>

